[submodule "sjy-version-catalog-core"]
	path = sjy-version-catalog-core
	url = https://github.com/Sanjaya-Inc/sjy-version-catalog-core.git

[submodule "sjy-version-catalog-ui"]
	path = sjy-version-catalog-ui
	url = https://github.com/Sanjaya-Inc/sjy-version-catalog-ui.git

[submodule "sjy-version-catalog-essentials"]
	path = sjy-version-catalog-essentials
	url = https://github.com/Sanjaya-Inc/sjy-version-catalog-essentials.git

[submodule "sjy-build-logic"]
    path = sjy-build-logic
    url = https://github.com/Sanjaya-Inc/sjy-build-logic.git