*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/compiler.xml
/.idea/AndroidProjectSystem.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/migrations.xml
/.idea/deploymentTargetSelector.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/detekt.xml
/.idea/kotlinc.xml
/.idea/.gitignore
/.idea/appInsightsSettings.xml
/.idea/inspectionProfiles/Project_Default.xml
/app/google-services.json
/navigation-docs/
/.kotlin/
